<header>
  <h1>
    <!-- prettier-ignore -->
    M <span class="acronym">mongoDB</span>
    <!-- prettier-ignore -->
    E<span class="acronym">Express.js</span>
    <!-- prettier-ignore -->
    E<span class="acronym">Ejs</span>
    <!-- prettier-ignore -->
    N<span class="acronym">Node</span> Blogs
  </h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog/create">Add Blog</a></li>
    </ul>
  </nav>
</header>
