<header>
  <h1>
    <!-- prettier-ignore -->
    <span>  M <span class="acronym">MongoDB</span></span>
    <!-- prettier-ignore -->
    <span>E<span class="acronym">Express.js</span></span>
    <!-- prettier-ignore -->
    <span>E<span class="acronym">Ejs</span></span>
    <!-- prettier-ignore -->
    <span>N<span class="acronym">Node.js</span> Blog</span>
  </h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog/create">Add Blog</a></li>
    </ul>
  </nav>
</header>
