<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/nav.ejs') %>
    <main>
      <!-- Insert content here -->
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias
        libero cum ex voluptate aut eum iste quos eius, porro perferendis
        perspiciatis labore neque accusantium illo qui corporis nisi possimus
        non aperiam voluptatibus adipisci esse fugit! Architecto, repellat
        assumenda repudiandae dolorum quam commodi dolor unde quo ipsam
        laboriosam officiis dolore, perferendis, illo similique earum ab sint!
        Debitis dolor magnam a quisquam architecto officia dignissimos quas
        itaque sit, inventore hic. Laudantium numquam ipsum eveniet, temporibus
        voluptates praesentium nisi aperiam dolores maxime eius ratione
        accusantium debitis tempora quae obcaecati! Atque ipsa odio praesentium
        dolores. Illo iste nihil dolorem error neque earum voluptate deserunt in
        quibusdam ipsum deleniti tempore vero veritatis quisquam exercitationem
        ullam, omnis, incidunt, cumque nemo esse minima reprehenderit harum
        sunt? Unde, explicabo consequatur quidem tenetur velit quas libero
        sapiente eos quia excepturi, blanditiis dolores quis deserunt dicta
        fugit. Sunt, officia recusandae.
      </p>
    </main>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
