<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <p>Welcome to My Blogs</p>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
