<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="index">
      <img src="/image/blog.svg" alt="" class="img-front" />
      <div class="title-part">
        <h2 class="title">Welcome to My Blogs</h2>
        <p>You can read all about me here!</p>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
