@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  padding: 0.5em 2em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.217);
}
header h1 {
  font-size: 3rem;
  color: #ff9e9e;
  letter-spacing: 10px;
}
header h1 span {
  font-weight: 400;
  position: relative;
  letter-spacing: normal;
}
header h1 span .acronym {
  font-size: x-small;
  opacity: 0.5;
  font-weight: lighter;
  position: absolute;
  bottom: 0%;
  left: 4px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
header nav ul li {
  opacity: 0.8;
  font-weight: 300;
}

.img-front {
  max-height: 300px;
}

main {
  min-height: 70vh;
}

main.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2em;
  padding-top: 4em;
}
main.index .title-part {
  margin-top: 2em;
}
main.index .title-part h2 {
  opacity: 0.7;
}

main.blog_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.blog_list .title_head {
  font-size: 3rem;
  font-weight: 600;
  opacity: 0.5;
  margin-top: 2em;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}
.blogs .blog {
  min-width: 800px;
}
.blogs .blog:hover {
  scale: 1.02;
}

.blog {
  border-left: 4px solid #ff9e9e;
  padding: 1em;
  background-color: rgba(248, 248, 248, 0.5294117647);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.127);
}
.blog .blog_link {
  font-weight: 400;
}
.blog .blog_link:hover {
  color: #ff9e9e;
}
.blog .blog_content {
  opacity: 0.4;
  font-weight: 300;
}

main.blog_detail {
  margin-top: 2em;
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

.btn {
  padding: 0.2em 1em;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  background-color: #ff9e9e;
  color: white;
  margin: 0.2em;
}
.btn:hover {
  scale: 1.2;
}
.btn:active {
  scale: 0.95;
}

footer {
  background-color: rgb(230, 230, 230);
  border-top: 1px grrgb(255, 255, 255);
  height: 100%;
  text-align: center;
  padding: 4em;
}
footer p {
  opacity: 0.4;
  font-size: 2rem;
  font-weight: 200;
}