@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  padding: 0.5em 2em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.217);
}
header h1 {
  font-size: 3rem;
  color: #ff9e9e;
  letter-spacing: 10px;
}
header h1 span {
  font-weight: 400;
  position: relative;
  letter-spacing: normal;
}
header h1 span .acronym {
  font-size: x-small;
  opacity: 0.5;
  font-weight: lighter;
  position: absolute;
  bottom: 0%;
  left: 4px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
header nav ul li {
  opacity: 0.8;
  font-weight: 300;
}

.img-front {
  max-height: 300px;
}

main {
  min-height: 70vh;
}

main.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2em;
  padding-top: 4em;
}
main.index .title-part {
  margin-top: 2em;
}
main.index .title-part h2 {
  opacity: 0.7;
}

footer {
  background-color: rgb(230, 230, 230);
  border-top: 1px grrgb(255, 255, 255);
  height: 100%;
  text-align: center;
  padding: 4em;
}
footer p {
  opacity: 0.4;
  font-size: 2rem;
  font-weight: 200;
}